<section class="w-full xl:w-[1000px] mx-auto pb-48">
  <h1 class="text-3xl font-medium text-white flex items-center justify-center lg:justify-start pb-3 gap-x-1"> 
      <svg class="size-8 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m8 8-4 4 4 4m8 0 4-4-4-4m-2-3-4 14"/>
      </svg>
      Projectos
  </h1>

  <article class="grid grid-cols-1 lg:grid-cols-2 gap-6 p-2 mb-10">
      <div class="shadow-2xl shadow-gray-50/10 overflow-hidden rounded-lg border border-gray-800/95 h-full">
          <img src="utn_proyecto.webp" alt="project" class="rounded-lg transition-transform duration-300 scale-105 hover:scale-100 object-cover w-full h-full max-h-[400px]">
      </div>
      <div class="flex flex-col w-full">
          <h1 class="text-white font-semibold lg:text-2xl text-xl flex justify-center lg:justify-start py-2">Sistema de Gestión de Mantenimiento</h1>
          <div class="flex items-center">
              <div class="flex flex-row w-full flex-wrap gap-x-2 py-2">
                  <span class="text-white bg-red-900/75 text-sm font-light p-1 px-3 gap-x-1 flex items-center rounded-full">
                      <app-angular></app-angular>
                      Angular
                  </span>
                  <span class="text-white bg-green-900 text-sm font-light p-1 px-3 gap-x-1 flex items-center rounded-full">
                      <app-node></app-node>
                      Express.js
                  </span>
                  <p class="text-gray-300 font-light text-sm py-4 w-full lg:max-w-[700px] text-pretty">
                      Plataforma web desarrollada para la Universidad Tecnológica Nacional que permite gestionar órdenes de mantenimiento en tiempo real. Los usuarios pueden crear, editar y seguir el estado de cada orden, asignar responsables y consultar el historial de intervenciones.
                      El sistema está construido con Angular en el frontend, Express.js en el backend y utiliza SCSS para una interfaz moderna y adaptable.
                  </p>
                  <div class="p-3 flex justify-center items-end w-full h-full gap-x-2 m-auto">
                      <a href="https://github.com/Valentino-Guzman/UTN_PROYECTO_FINAL" class="text-white bg-grayCus border border-grayB text-base font-light py-1 px-3 gap-x-1 rounded-full flex items-center">
                          GitHub
                          <app-github></app-github>
                      </a>
                  </div>
              </div>  
          </div>
      </div>
  </article>

  <article class="grid grid-cols-1 lg:grid-cols-2 gap-6 p-2 mb-10">
      <div class="shadow-2xl shadow-gray-50/10 overflow-hidden rounded-lg border border-gray-800/95 h-full">
          <img src="almacen.webp" alt="project" class="rounded-lg transition-transform duration-300 scale-105 hover:scale-100 object-cover w-full h-full max-h-[400px]">
      </div>
      <div class="flex flex-col w-full">
          <h1 class="text-white font-semibold lg:text-2xl text-xl flex justify-center lg:justify-start py-2">Pasantía - Almacén de Sabores</h1>
          <div class="flex items-center">
              <div class="flex flex-row w-full flex-wrap gap-x-2 py-2">
                  <span class="text-white bg-red-900/75 text-sm font-light p-1 px-3 gap-x-1 flex items-center rounded-full">
                      <app-angular></app-angular>
                      Angular
                  </span>
                  <span class="text-white bg-green-900 text-sm font-light p-1 px-3 gap-x-1 flex items-center rounded-full">
                      <app-node></app-node>
                      Express.js
                  </span>
                  <p class="text-gray-300 font-light text-sm py-4 w-full lg:max-w-[700px] text-pretty">
                    Durante mi pasantía en el Almacén de Sabores colaboré en el desarrollo y mejora de su plataforma web, enfocándome en la experiencia del usuario y nuevas funcionalidades. Trabajé con Angular en el frontend y Express.js en el backend, contribuyendo también al diseño visual con SCSS. Esta experiencia me permitió aplicar conocimientos fullstack y fortalecer el trabajo en equipo.
                  </p>
                  <div class="p-3 flex justify-center items-end w-full h-full gap-x-2 m-auto">
                      <a href="https://almacendesabores.com.ar/" class="text-white bg-grayCus border border-grayB text-base font-light py-1 px-3 gap-x-1 rounded-full flex items-center">
                          Preview
                          <app-preview></app-preview>
                      </a>
                  </div>
              </div>  
          </div>
      </div>
  </article>

  <article class="grid grid-cols-1 lg:grid-cols-2 gap-6 p-2">
    <div class="shadow-2xl shadow-gray-50/10 overflow-hidden rounded-lg border border-gray-800/95 h-full">
        <app-carrusel-imagenes></app-carrusel-imagenes>
    </div>
    <div class="flex flex-col w-full">
        <h1 class="text-white font-semibold lg:text-2xl text-xl flex justify-center lg:justify-start py-2">Prolytics – Plataforma de Análisis de Rendimiento para League of Legends</h1>
        <div class="flex items-center">
            <div class="flex flex-row w-full flex-wrap gap-x-2 py-2">
                <span class="text-white bg-red-900/75 text-sm font-light p-1 px-3 gap-x-1 flex items-center rounded-full">
                    <app-angular></app-angular>
                    Angular
                </span>
                <span class="text-white bg-green-900 text-sm font-light p-1 px-3 gap-x-1 flex items-center rounded-full">
                    <app-node></app-node>
                    Express.js
                </span>
                <p class="text-gray-300 font-light text-sm py-4 w-full lg:max-w-[700px] text-pretty">
                    Prolytics es una plataforma que permite analizar el rendimiento de jugadores en League of Legends. La aplicación presenta estadísticas detalladas, gráficos visuales y rankings, optimizando la experiencia de usuario con un diseño moderno y responsivo. Este proyecto fullstack combina llamadas a la API de Riot Games, procesamiento de datos y visualización atractiva, enfocándose en brindar insights claros para jugadores competitivos.                </p>
                <div class="p-3 flex justify-center items-end w-full h-full gap-x-2 m-auto">
                    <a href="https://github.com/Valentino-Guzman/PROLYTICS" class="text-white bg-grayCus border border-grayB text-base font-light py-1 px-3 gap-x-1 rounded-full flex items-center">
                        GitHub
                        <app-github></app-github>
                    </a>
                </div>     
            </div>  
        </div>
    </div>
  </article>
</section>
