<section class="w-full lg:w-[900px] mx-auto py-48">
    <h1 class="text-3xl font-medium text-white flex items-center justify-center lg:justify-start pb-3 gap-x-1"> 
        <svg  xmlns="http://www.w3.org/2000/svg"  width="32"  height="32"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-briefcase-2"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 9a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v9a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-9z" /><path d="M8 7v-2a2 2 0 0 1 2 -2h4a2 2 0 0 1 2 2v2" /></svg>
        Experiencia
    </h1>
    <div class="relative flex flex-col border-l-2 shadow-lg rounded-e h-auto p-3 ml-3">
        <span class="text-white -left-[8px] absolute top-0 rounded-full text-4xl">•</span>
        <span class="text-pink-200 font-light text-sm">Sep 2024 - Dic 2025</span>
        <span class="text-yellow-200 font-light text-base">Universidad Tecnológica Nacional Facultad Regional Venado Tuerto</span>
        <span class="text-white font-light text-sm">Trabajo para la universidad</span>
    </div>
    <div class="relative flex flex-col border-l-2 shadow-lg rounded-e h-auto p-3 ml-3">
        <span class="text-white -left-[8px] absolute top-0 rounded-full text-4xl">•</span>
        <span class="text-pink-200 font-light text-sm">Sep 2024 - Dic 2025</span>
        <span class="text-yellow-200 font-light text-base">Universidad Tecnológica Nacional Facultad Regional Venado Tuerto</span>
        <span class="text-white font-light text-sm">Trabajo para la universidad</span>
    </div>
    <div class="relative flex flex-col border-l-2 shadow-lg rounded-e h-auto p-3 ml-3">
        <span class="text-white -left-[8px] absolute top-0 rounded-full text-4xl">•</span>
        <span class="text-pink-200 font-light text-sm">Sep 2024 - Dic 2025</span>
        <span class="text-yellow-200 font-light text-base">Universidad Tecnológica Nacional Facultad Regional Venado Tuerto</span>
        <span class="text-white font-light text-sm">Trabajo para la universidad</span>
    </div>
    <div class="relative flex flex-col border-l-2 shadow-lg rounded-e h-auto p-3 ml-3">
        <span class="text-white -left-[8px] absolute top-0 rounded-full text-4xl">•</span>
        <span class="text-pink-200 font-light text-sm">Sep 2024 - Dic 2025</span>
        <span class="text-yellow-200 font-light text-base">Universidad Tecnológica Nacional Facultad Regional Venado Tuerto</span>
        <span class="text-white font-light text-sm">Trabajo para la universidad</span>
    </div>
</section>